body {
  background-image: url(https://media.giphy.com/media/PlsjFmJ0iLW9I3C1lw/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Abel", sans-serif;
}

h2 {
  color: #8c9cb0;
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2.title {
  color: #8c9cb0;
  padding-top: 50px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  font-family: "Abel", sans-serif;
}

h4 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  color: #323042;
  font-weight: bolder;
}

h4.result-box{
  padding-bottom: 10px;
  color: #323042;
}

.member-name,
.member-name1,
.play {
  color: #8c9cb0;
  align-content: center;
  text-align: center;
  font-size: 40px;
}

img.member-icon {
  border-radius:50%;
  width: 60px;
  display: inline-block;
  margin: 20px;
}

img.member-icon-for-chat{
  max-width: 40px;
  max-height: 40px;
  display: inline-block;
}

.member-icon {
  font-size: 0px;
}

.searchtitle {
  color: #8c9cb0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.btn-shazamAdd {
  background-color: #323042;
  color: whitesmoke;
  opacity: 0.8;
  font-size: 14px;
}

p.albumart {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 50px 0px 50px;
  margin-top: 15px;
}

p{
  font-size:22px;
  color: #323042;
}

.outer {
  position: relative;
  background: #111;
}

.button {
  height: 50px;
  width: 150px;
  border-radius: 50px;
}

.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button {
  background: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 18px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.button button {
  height: 40px;
  width: 140px;
  border-radius: 50px;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50px;
}
.circle span {
  border-radius: 50%;
}
.outer:hover span:nth-child(1) {
  filter: blur(7px);
}
.outer:hover span:nth-child(2) {
  filter: blur(14px);
}
.outer:hover {
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: rotate 1.5s linear infinite;
}

#stellar-sonic-logo {
  max-width: 70px;
  margin-bottom: 15px;
  padding: 5px 10px;
}

.form-control {
  background-color: #323042;
  opacity: 0.8;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.btn-allMusic {
  background-color: #323042;
  color: whitesmoke;
  opacity: 0.8;
}
.btn-userBtn {
  background-color: #323042;
  color: whitesmoke;
  opacity: 0.8;
}

.cloudinary-button {
  background-color: #323042 !important;
  color: whitesmoke;
  opacity: 0.8;
  height: 37px;
  font-size: 12px !important;
  line-height: 18px !important;
  font-weight: bold !important;
}

.btn-searchSong {
  background-color: #323042;
  color: whitesmoke;
  opacity: 0.8;
  height: 38px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  color: #e3e7ea;
}

form.signup,
form.login {
  margin-top: 20px;
}

.login-png,
.sign-up-png {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  padding: 10px;
}

#popupChatBox {
  max-width: 40%;
  overflow: auto;
  max-height: 85%;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #323042;
  color: white;
  padding: 16px 20px;
  font-size:20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 380px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  width: 20%;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #323042;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: #323042;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  /* min-height: 200px; */
}

#post-area {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #8c9cb0;
  color: black;
  resize: none;
  max-height: 200px;
  overflow: auto;
  /* min-height: 200px; */
}

#post-box {
  background: #8c9cb0;
  color: black;
}

#post-box::placeholder {
  color: #696969;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #00af33;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #d84141;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.tooltip {
  background-color: transparent;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  color: #e3e7ea;
  width: 400px;
  text-align: center;
  font-size: 16px;
  position: absolute;
}

svg {
  padding-bottom: 70px;
}
.node:hover {
  stroke-width: 4px !important;
  opacity: 1 !important;
}

.user-area {
  display: flex;
  flex-flow: row wrap;
}

.card {
  border-color: #323042;
  margin: 10px;
  background-color: transparent;
  box-shadow: 1px 1px #323042;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* nav bar styling */

ul {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  color: white;
}

ul li {
  list-style: none;
  margin-top: 20px;
}

.header-links {
  text-decoration: none;
  color: white !important;
  font-size: 21px;
  display: block;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  margin: 0 10px;
  transition: all 0.5s;
}
a{
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  background-color: rgba(23, 59, 105, 0.679);
  color: white;
}

a:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid rgba(23, 59, 105, 0.679);
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}

a:hover:before {
  opacity: 1;
  bottom: -7px;
  left: -7px;
}

a:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid rgba(23, 59, 105, 0.679);
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}

a:hover:after {
  opacity: 1;
  top: -7px;
  right: -7px;
}

/* name and slogan picture */
.brand-name {
  display: block;
  margin: auto;
  width: 55%;
  margin-top: 100px;
  margin-bottom: 80px;
}

/* circular diagram */
#musicdata {
  display: block;
  position: relative;
}

#musicdata1 {
  display: block;
  position: relative;
}

#musicdata2 {
  display: block;
  position: relative;
}

#musicdata3 {
  display: block;
  position: relative;
}

#musicdata4 {
  display: block;
  position: relative;
}

/* login/signup form */
.login-png,
.sign-up-png {
  max-width: 500px;
  margin-bottom: 20px;
  padding: 30px;
}

label,
.sign-up,
.log-in {
  color: rgb(143, 149, 155);
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
}
/*  */

#search-results-card {
  padding: 0px;
  width: 320px;
  font-size: 14px;
  color: lightslategray;
}
.username_holder {
  font-size: 16px;
  color: lightslategray;
}
.username_holder_h2 {
  text-align: center;
  font-size: 18px;
  color: lightslategray;
}
#log {
  border: 1px lightslategray;
  border-radius: 3px;
  color: gray;
  width: 180px;
  height: 820px;
  font-size: 10px;
  position: fixed;
  overflow: auto;
}

.replConsole {
  list-style-type: none;
  font-family: "consolas", sans-serif;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.member-icon {
  align-content: center;
}

.username_holder{
  font-size:24px;
  font-family: "Abel", sans-serif;
  color: #8c9cb0;
  text-align:center;
  margin-bottom:30px;
  margin-top:0px;
}
.username_holder_h2{
  font-size:24px;
  font-family: "Abel", sans-serif;
  color: #8c9cb0;
  text-align:center;
  margin-bottom:10px;
}

.username_holder_h3{
  font-size:35px;
  font-family: "Abel", sans-serif;
  color: #8c9cb0;
  text-align:center;
  margin-top: 10px;
  margin-bottom:10px;
}


@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}



@media (max-width: 640px) {
  .center {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .outer {
    margin: 50px 0;
  }
}
