


form.signup,
form.login {
  margin-top: 50px;
}

#popupChatBox {
  max-width: 30%;
  overflow: auto;
  max-height: 85%;
}

body {
  background-image: url(https://images.unsplash.com/photo-1549189189-c26639dfc999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80://images.unsplash.com/photo-1549189189-c26639dfc999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80.pexels.com/photos/1341279/pexels-photo-1341279.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1000);
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  /* min-height: 200px; */
}

#post-area {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  max-height: 200px;
  overflow: auto;
  /* min-height: 200px; */
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}


.tooltip {
  background-color: black;
  padding: 5px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  color: white;
  width: 400px;
  text-align: center;
  font-size: 18px;
  position: relative;
  display: block;
}

.node:hover {
  stroke-width: 5px !important;
  opacity: 1 !important;
}

.user-area {
  display: flex;
  flex-flow: row wrap;
}

.card{
  border-color:#323042;
  margin: 10px;
  background-color:  #e4decd;
  box-shadow: 10px 10px #323042;
}

.user {
  width:90%;
}

.users {
  width: 45%;
}

.member-name{
  color: #f1f1f1;
  align-content: center;

/* nav bar styling */


ul {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: white;
}

ul li {
  list-style: none;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white !important;
  font-size: 21px;
  display: block;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  margin: 0 10px;
  transition: all 0.5s;
}
a:hover {
  background-color: rgba(23, 59, 105, 0.679);
  color: white;
}
a:before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid rgba(23, 59, 105, 0.679);
  border-width: 0 0 3px 3px;
  opacity: 0;
  transition: all 0.3s;
}
a:hover:before {
  opacity: 1;
  bottom: -7px;
  left: -7px;
}
a:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border: 3px solid rgba(23, 59, 105, 0.679);
  border-width: 3px 3px 0 0;
  opacity: 0;
  transition: all 0.3s;
}
a:hover:after {
  opacity: 1;
  top: -7px;
  right: -7px;
}

.slogan {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  margin-top: 15px;
}

#chatboxUsername{
  color: red;
}